# Dependencies
node_modules/
npm-debug.log
npm-error.log
yarn-error.log

# Environment variables
.env
.env.*
!.env.example
#! means that the file should be included in the repository, even though it matches the pattern. In this case, .env.example is included while other .env files are ignored.

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build outputs
dist/
build/
out/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store

# Project specific
config/config.json
*.zip

OTHER/
