# Server Configuration
PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_database_password
# Remember if your password has letters, special characters, or spaces, you have to put it in double quotes.
# Else if it's just numbers, you can write it without quotes.
# E.g: DB_PASSWORD="tualdz123"
#      DB_PASSWORD=123456
DB_NAME=bluemoon_ams

# Authentication
JWT_SECRET=your_super_secret_key
JWT_EXPIRE=7d